<!--
    Natali Easton, Nya Croft, Tyler Hull, Hayden Cowart
    Section 4
    This is our Edit a user page for INTEX
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Mindful Provo</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="styles.css" rel="stylesheet" />
        <style>
            .radio-container {
                display: flex;
                align-items: center;
            }

            .radio-container label {
                display: inline-block;
                margin-right: -80px;
            }

            .radio-container input {
                margin-top: 7px;
                vertical-align: middle;
            }

            
            .checkbox-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 20px;
            }

            .checkbox-container label {
                display: flex;
                align-items: center;
                margin-right: 10px;
                margin-bottom: 10px;
            }

            .checkbox-container label input {
                /*margin-top: 2px;*/
                margin-left: 8px;
            }

            /* Add the following style to clear the float used in label.formtext */
            .clear-float {
                clear: both;
            }

            label.formtext {
            float: left;
            margin-right: 30px; /* Optional margin between label and input 215px */
            }

            input,
            select,
            textarea {
                width: 175px; /* Adjust the width as needed */
            }

            .submission-form label {
                display: block;
                text-align: left;
                width: 66%;
                margin-bottom: 5px; /* Adjust the margin as needed */
            }

            .submission-form {
                margin: 0 auto;
                background-color: #ffffff9b;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                width: 650px;
            }

            .static-numbers {
                color: black;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin-top: 10px;
                position: relative;
                /*THIS WIDTH LINE IS WHAT SPACES IT OUT*/
                width: 100%;
            }

            .static-numbers span {
                text-align: center;
                width: calc(20% - 30px); /*this line adjusts the width of the static numbers/words*/
            }
    
            .submission-form input,
            .submission-form textarea {
                width: 100%;
                padding: 8px;
                margin-bottom: 10px;
                box-sizing: border-box;
                align-items: stretch;
            }
    
            .submission-form button {
                background-color: #009879;
                color: #fff;
                padding: 10px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
        </style>
    </head>
    <body id="page-top">
        <!-- Submission Form that gets the selected user -->
        <section class="page-section" id="services">
            <div class="container">
                <div class="submission-form">
                    <br>
                    <h1 class="formtext" style="text-align: center;">Edit a User</h1>
                    <br>
                    <hr style="border: 1px solid #ccc; margin: 20px 0;">
                    <form action="/editUser" method="POST">
                        <input type="hidden" id="user_id" name="user_id" value="<%=myUser[0].user_id %>">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" value="<%=myUser[0].username %>">
                        <br><br>
                        <label for="password">Password:</label>
                        <input type="text" id="password" name="password" value="<%=myUser[0].password %>">
                        <br><br>
                      <button type="submit">Save</button>
                    </form>
                </div>
                <br>
                <br>
                <br>
    </body>
</html>
