<!--
    Natali Easton, Nya Croft, Tyler Hull, Hayden Cowart
    Section 4
    This is our Landing Page for our INTEX Project
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Mindful Provo</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">
                <div class="logo-container">
                    <a class="navbar-brand" style="height: 100%;" href="/"><img src="assets/img/MindfulProvoLogo.png" alt="..." /></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="survey">Survey</a></li>
                        <li class="nav-item"><a class="nav-link" href="dashboard">Dashboard</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container" style="color: seashell;">
                <div class="masthead-heading">Welcome to Mindful Provo!</div>
                <div class="masthead-subheading">Connecting Minds, Building Resilience</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#about" style="background-color:#009879; border:#009879">Learn More!</a>
            </div>
        </header>
        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Mental Health and Social Media</h2>
                    <h3 class="section-subheading text-muted">A Survey of Provo</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/DualityOfMinds.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <!-- <h4>2009-2011</h4> -->
                                <h4 class="subheading">Who are we?</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted"> In our digital age, social media plays a significant role in our lives, shaping how we connect, share, and perceive the world around us. At the heart of Provo's commitment to community well-being, the Social Media Usage and Mental Health committee invites you to explore the fascinating intersection of digital connectivity and mental health.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/connection.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <!-- <h4>March 2011</h4> -->
                                <h4 class="subheading">Our Mission</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Our mission is to understand how social media impacts the mental health of Provo residents. By leveraging data insights, we aim to identify patterns, challenges, and opportunities that can guide us in fostering a mentally resilient community. This initiative is not just about understanding the problem but actively working towards solutions that enhance the overall well-being of our citizens.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/floatingapps.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <!-- <h4>December 2015</h4> -->
                                <h4 class="subheading">Your Voice Matters</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">We believe in the power of community input. We invite you to share your experiences and contribute to this vital research. By participating in our survey, you not only help shape our understanding of social media's influence on mental health but also play a crucial role in crafting strategies for a healthier and happier Provo.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/graph.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <!-- <h4>July 2020</h4> -->
                                <h4 class="subheading">Take our Survey and Explore the Dashboard</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Share your thoughts and experiences by participating in our survey. Your input is invaluable in building a comprehensive picture of social media usage and its effects on mental health. Dive into our interactive dashboard, where you can explore the data, filter results, and gain insights into the relationships between social media usage and mental health. It's a tool designed for you, the citizens of Provo, to better understand our community's collective well-being.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/lock2.jpeg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <!-- <h4>December 2015</h4> -->
                                <h4 class="subheading">Our Commitment</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Rest assured that your privacy is our top priority. All data collected is anonymized and aggregated, adhering to the highest ethical standards. Provo's Social Media and Mental Health initiative is dedicated to transparency, data security, and, most importantly, the well-being of our community.</p></div>
                        </div>
                    </li>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/wellbeing.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <!-- <h4>July 2020</h4> -->
                                <h4 class="subheading">Together, Let's Thrive</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Join us on this journey towards a mentally resilient community. Your participation matters, your insights make a difference, and together we can create a Provo where digital connectivity enhances, rather than hinders, our collective mental health. Let's connect minds and build resilience together.</p></div>
                        </div>
                    </li>
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="button-container">                                                                                                              
                                <a class="button-17" href="survey" style="border-radius: 4px; font-weight: 700; padding: 30px; font-size: x-large; color: #fff; background-color: #009879; font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;">Take our Survey</a>
                                <a class="button-17" href="dashboard" style="border-radius: 4px; font-weight: 700; padding: 30px; font-size: x-large; color: #fff; background-color: #009879; font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;;">Explore the Data</a>
                            </div>
                        </li>
                </ul>
            </div>
        </section>
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Recommended Resources</h2>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/byu.jpeg" alt="..." />
                            <h4>Counseling</h4>
                            <a href="https://caps.byu.edu/" class="text-muted">FREE BYU Counseling Services</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/resource.jpeg" alt="..." />
                            <h4>24/7 Hotline</h4>
                            <a href="https://health.utah.gov/telephone-hotlines" class="text-muted">Health Resource Line at 1-888-222-2542</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/img/detox.jpeg" alt="..." />
                        <h4>Take a Break</h4>
                        <a href='https://blog.calm.com/blog/social-media-detox'class="text-muted">Social Media Detox Tips & Tricks</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/uvu.jpg" alt="..." />
                            <h4>Counseling</h4>
                            <a href="https://www.uvu.edu/studenthealth/" class="text-muted">Free UVU Counseling Service</a>
                        </div>
                    </div>
                    <div class="col-lg-4 mx-auto"> <!-- mx-auto centers the column content -->
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/lightworld.jpg" alt="..." />
                            <h4>Build Connections with Service</h4>
                            <a href='https://www.churchofjesuschrist.org/comeuntochrist/uk/lighttheworld/what-is-light-the-world'class="text-muted">Light the World this Christmas!</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/sad.jpg" alt="..." />
                            <h4>More Research</h4>
                            <a href='https://www.mayoclinic.org/healthy-lifestyle/tween-and-teen-health/in-depth/teens-and-social-media-use/art-20474437'class="text-muted">See further studies on Social Media</a>
                        </div>
                    </div>       
                </div>                    
            </div>
        </section>





        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Dream Team 2023</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
