<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Add User</title>
</head>
<body>
   <form action="/addUser" method="POST">
     <fieldset style="width: 0px;">
       <legend>Add a User:</legend>
       <label for="username">Enter a Username:</label>
       <input type="text" id="username" name="username">
       <br><br>
       <label for="password">Enter a Password:</label>
       <input type="text" id="password" name="password">
       <br><br>
       <!-- <label for="capital">Enter Capital:</label>
       <input type="text" id="capital" name="capital"> -->
       <br><br>
     </fieldset>
     <button type="submit">Save</button>
   </form>
</body>
</html>